# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.log

# Unnecessary directories
build/*
iso
toolchain/binutils*
toolchain/gcc*
toolchain/x86_64-elf

# External libraries will be updated and copied from their repos
*limine*
*nanoprintf*
*flanterm
*liballoc.*

# ISO files
*.iso

# Cache and stuff made by LSPs
*.cache
*.ccls-cache
compile_commands.json